<div class="container">
  <h1>Add a new cocktail</h1>

  <div class="form">
  <%= form_for @cocktail do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :photo_url %>
      <%= f.text_field :photo_url, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>
    </div>


    <% Ingredient.all.each do |ingredient| %>
      <div class="form-group">
        <h3><%= ingredient.name %></h3>

        <%= f.fields_for :dosages, @cocktail.dosages.build do |dosage_f| %>

          <%= dosage_f.hidden_field :ingredient_id, value: ingredient.id %>
          <div class="form-group">
            <%= dosage_f.label :quantity %>
            <%= dosage_f.text_field :quantity, class: "form-control" %>
          </div>

        <% end %>
      </div>
    <% end %>

    <%= f.submit %>
  <% end %>
  </div>

</div>